html,
body,
.container {
	width: 100%;
	height: 100%;
	font-family: 'Libre Baskerville', serif;
}
* {font-family: 'Crimson Text', serif;}

.spots{
	/*display: none;*/
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10;
	color: white;
	height: 60%;
	width: 15%;
	text-align: center;
}

.exit-button {
	position: fixed;
	top: 5%;
	left: 5%;
	height: 5%;
	width: 5%;
	background-color: rgba(65, 65, 05, .05);

}
.submit-button {
	position: fixed;
	bottom: 5%;
	color: white;
	left: 35%;
	height: 5%;
	width: 5%;
	background-color: rgba(65, 65, 05, .05);

}


.collections{
	position: fixed;
  bottom: 5%;
  left: 5%;
  z-index: 10;
	color: white;
	height: 35%;
	width: 25%;
	text-align: center;
}

.spots, .collections{
	background-color: rgba(65, 65, 05, .05);
	height: 10%;
	-webkit-transition-duration: .4s;
	width: 15%;
}

.spots li, .collections li {

}

.spots:hover, .collections:hover{
	background-color: rgba(05, 05, 05, .2);
	height: 55%;
	width: 25%;
}

.spots:hover li, .collections:hover li {
	/*display: block;*/
	font-size: 1.5em;
	color: white;
}

.spots li:hover, .collections li:hover {
	/*display: block;*/
}

.spots ul, .collections ul {
	text-decoration: none;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}




#map-canvas {
	float: right;
	width: 100%;
	height: 100%;
}

.button {
	/*border: solid 1px black;*/
	/*border-radius: 29%;*/
}
.button {
	-webkit-transition-duration: .4s;
	color: rgba(1, 1, 1, 0);
	font-size: 0.5em;
}




