/* nice use of percentage-based layouts and flexible values! */

html,
body,
.container {
	width: 100%;
	height: 100%;
	/*font-family: 'Libre Baskerville', serif;*/
}

/* don't forget to provide fallbacks for browsers that might have trouble rendering
	custom fonts */
* {font-family: 'Crimson Text', serif;}

.spots{
	/*display: none;*/
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10;
	color: white;

	width: 15%;
	text-align: center;
}

.exit-button {
	position: fixed;
	top: 5%;
	left: 5%;
	height: 5%;
	width: 5%;
	background-color: rgba(65, 65, 05, .05);

}
.delete-spot-button {
	position: fixed;
	top: 5%;
	left: 45%;
	height: 5%;
	width: 5%;
	background-color: rgba(65, 65, 05, .05);

}


.collections{
	position: fixed;
  bottom: 5%;
  left: 5%;
  z-index: 10;
	color: white;
	height: 35%;
	width: 25%;
	text-align: center;
}

.spots, .collections{
	background-color: rgba(65, 65, 05, .15);
	height: 10%;
	/* don't forget that css animations aren't supported on older browsers */
	-webkit-transition-duration: .4s;
	width: 15%;
	/* flexbox also not supported on older browsers */
	display: flex;
	flex-direction: column;
}

.spots ul, .collections ul {
	text-decoration: none;
	/*display: flex;
	flex-direction: column;
	justify-content: space-between;*/

}

.spots ul li,
.collections ul li,
.spots h3,
.collections h3 {
		visibility: hidden;
		font-size: 0.1em;

	}

.spots:hover, .collections:hover{
	visibility: visible;
	background-color: rgba(05, 05, 05, .6);
	height: 85%;
	width: 25%;
}


.spots:hover ul li,
.collections:hover ul li,
.spots:hover h3,
.collections:hover h3 {
		visibility: visible;
		font-size: 1.5em;
		color: white;
	}

.spots li:hover, .collections li:hover {
	/*display: block;*/
}


#map-canvas {
	float: right;
	width: 100%;
	height: 100%;
}


.button {
	/*border: solid 1px black;*/
	/*border-radius: 29%;*/
	padding: 1%;
}
.button {
	-webkit-transition-duration: .4s;
	/*color: rgba(1, 1, 1, 0);*/
	/*visibility: hidden;*/
	/*font-size: 0.5em;*/
}

#spot-list {
	display: block;
	/*display: flex;*/
  height: 30%;
  width: 70%;
  margin: 5px;
  font-size: 0.8em;
	margin: auto;
	/*background-color: rgba(65, 65, 05, .65);*/
	z-index: 10;
	visibility: hidden;
	/*display: flex;
	flex-direction:column;*/
}
#spot-list ul li{
	list-style: none;
	margin: 5% 0% 5% 0%;
	padding: 5%;
	text-align: left;
	font-size: 2em;
	color: white;
	background-color: rgba(15, 15, 15, .45);
	min-height: 25px;

}
#spot-list {

	visibility: visible;
	height: 60%;
}


#spot-list ul{
	/*float: left;*/
	overflow: scroll;
	margin: 1% 0% 1% 0%;
	/*text-decoration: none;*/
	/*background-color: rgba(65, 65, 65, .15);*/
	height: 100%;
}
.address-panel {
	visibility: hidden;
	background-color: rgba(65, 65, 65, .15);
	position: fixed;
  top: 1%;
  right: 55%;
  z-index: 10;
	color: white;
	width: 25%;
	/*height: 15%;*/
	text-align: center;
	padding: 1%;

}
#wtf (color: black;)
