.spot-creation-panel {
  /*display: none;*/
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 10;
  color: white;
  height: 90%;
  width: 35%;
  text-align: center;
  background-color: rgba(05, 05, 05, .6);
}
.spot-creation-panel h3 {
  color: white;
}

.spot-creation-panel form{
  color: black;
  height: 70%;
}
.new-description {
  display: block;
  height: 50%;
  width: 70%;
  margin: auto;
}

.spots .button {
  visibility: hidden;
}
.spots:hover .button {
  background-color: rgba(05, 05, 05, .4);
  visibility: visible;
}

.submit-button {
  position: fixed;
  bottom: 5%;
  color: white;
  left: 35%;
  height: 5%;
  width: 5%;
  background-color: rgba(65, 65, 05, .05);
}
.pov-save-button {
  position: fixed;
  bottom: 25%;
  color: white;
  left: 35%;
  height: 8%;
  width: 5%;
  border: solid 1px white;
  background-color: rgba(65, 65, 05, .05);
}