.spot-display-panel {
   position: fixed;
  top: 10%;
  left: 5%;
  z-index: 10;
  color: white;
  height: 90%;
  width: 35%;
  text-align: center;
  /* note that rgba is not supported on older browsers */
  background-color: rgba(05, 05, 05, .6);
}