html,
body,
.container {
	width: 100%;
	height: 100%;
	font-family: 'Libre Baskerville', serif;
}
html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
header{
	background-color: rgba(65, 65, 05, .99);
	color: white;
	text-align: center;
	height: 10%;
}
h1 {
	font-size: 3em;
}
header h4 {
	margin: 1%;
	padding: 1%;
}
.wrapper {
	float: right;
	width: 60%;
	height: 85%;
}

#map-canvas {
	float: right;
	width: 60%;
	height: 85%;
}
.wrapsmall {
	display: none;
	float: right;
	width: 30%;
	height: 40%;
}
.orange {
	color: orange;
}
svg {
	float: right;
	/*margin: auto;*/
	/*margin-left: 100px;*/
	width: 100%;
	/*min-height: 222px;*/
	background-color: rgb(258, 240, 215);
}
.sideBar,
.nav {
	float: left;
	height: 85%;
	text-align: center;
	/*width: 10%;*/

}

.nav {
	/*border: solid 1px blue;*/
	display: flex;
	flex-align: column;
	justify-content: space-between
}
.pubs {
	background-color: rgba(0, 0, 0, .2);
}

.sideBar {
	width: 20%
}
.nav {
	width: 20%;
}
.tags {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.pubs ul li {
	display: block;
	/*background: rgb(99, 15, 0);*/
	/*float: left;*/
	margin: auto;
	border-radius: 25%;
	text-align: center;
	font-size: 1em;
/*	-webkit-transition-duration: .4s;
*/
}

ul li {
		-webkit-transition-duration: .4s;
}

ul li:hover {
	font-size: 1.5em;
	color: green;
}

/*.nav h1 {
	margin: 18% 0px;
}*/
.article {
	background-color: rgb(255, 247, 220);
;
	display: block;
	float: right;
	width: 60%;
	height: 80%;
	overflow: scroll;
	margin: 0px;
}
.nav, .sideBar {
	background-color: rgb(15, 58, 49);
}
.sideBar {

	float: right;
	background-color: rgb(15, 58, 49);
	color: white;
}
.sideBar h2, ul li {
	margin: 8% 0px;
}
h2 {
	font-size: 2em;
}
.nav {
	/*float: right;*/
	/*background-color: black;*/
	color: white;
	display: block;
}
.dinopic {
	width: 100%;
}
.tabs {

	width: 100%;
	float: right;
	background-color: black;
}
