html,
body,
.wrapper {
	margin: 0px;
	width: 100%;
	height: 100%;
}
div, footer {
	box-shadow: 6px 6px 6px #888888;
}
.wrapper {
	background-color: rgb(255, 247, 220);
}


h1 {
	margin: 3%;
	font-size: 1em;
	font-family: 'Rock Salt', cursive;
}
h2 {
	margin: .25%; 
	font-size: .65em;
}

.links, footer, h2 {
	  font-family: 'Quicksand', sans-serif;

}
header {

	display: flex;
	flex-direction: column;
	margin: 0%;
	padding: 1%;
	width: 100%;
	height: 20%;
	text-align: center;
	font-size: 2em;
}

.links {
	float: left;
	padding: 0%;
	width: 45%;
	margin: 0% 2.5%;
	height: 60%;
	text-align: center;
	font-size: 1.6em;
	font-family: 'Quicksand', sans-serif;
	/*border: solid 1px black;*/
	/*margin: 0%;*/
}


.links ul {
	display: flex;
	flex-direction: column;
	height: 80%;
	justify-content: space-around;
	/*padding: 5%;*/
}


 a{
	color: white;
 	text-decoration: none;
}
.dbc {
	background-color: rgb(100, 100, 200);
}
.other {
	background-color: rgb(200, 100, 100);	
}
footer {
	z-index: 10;
	display: block;
	float: left;
	margin: 1% 5%;
	width: 90%;
	height: 11%;
	background-color: rgb(15, 85, 85);
	color: white;
	text-align: center;
	font-size: 1.5em;
}
.nav {
	float-left;
}
.nav ul {
	display: flex;
	flex-direction: row;
	float: left;
	width: 100%;
	justify-content: space-around;

}
.nav ul li {
	vertical-align: middle;
	font-size: 1em;
	/*float: left;
	clear: none;*/
	margin: 1% 0px;

}
li a {
		-webkit-transition-duration: .5s;

}
li:hover a {
	color: gold;
	font-size: 1.5em;
}

@media screen and (max-width: 400px){

	body {
		height: 150%;
	}
	header {height: 25%;}
	header, footer {
		float: left;
		clear: none;
		/*height: 15%;*/
	}

}

@media screen and (max-height: 400px){
	body, .wrapper {
		height:150%;
	}
	header, footer {
		float: left;
		clear: none;
		height: 31%;
	}


}


