"hello!"

<form action '/collection/new'>
  <input type="submit" value="create a collection"></input>
</form>

<form action '/collection/display'>
  <input type="submit" value="view collection"></input>
</form>
