<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      normalize.css removes cross-browser differences in defaults, e.g.,
      differences in how form elements appear between Firefox and IE
      See: http://necolas.github.com/normalize.css/
    -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!--
      application.css is where you put your styles
    -->
    <link rel="stylesheet" href="/css/application.css">

    <!-- // <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

      <title> maps generator </title>
      <!-- <link rel="stylesheet" type="text/css" href="../../reset.css"> -->
      <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/map_view.css">
    <link rel="stylesheet" type="text/css" href="/css/spot-creation.css">
    <link rel="stylesheet" type="text/css" href="/css/spot-display.css">
    <title></title>
  </head>
  <body>
    <%= yield %>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&">
      </script>



    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/shmap1.js"></script>
    <!-- // <script src="/js/madStylez.js"></script> -->
    <script src="/js/spotCreator.js"></script>
    <script src="/js/spotBrowser.js"></script>
    <script src="/js/stateSwitcher.js"></script>
    <script src="/js/updateSpots.js"></script>
    <script src="/js/addressInput.js"></script>
    <script src="/js/streetView.js"></script>
    <script src="/js/spotDisplay.js"></script>
    <script src="/js/initialize.js"></script>
  </body>
</html>

