<div class="container">
	<div class="spots">
		<h2> Spots </h2>
		<!-- <h3>Current Collection name</h3> -->
			<div id="create-new-spot-button" class="button">
				<h3>Create New Spot</h3>
			</div>

			<div class="button">
				<h3>List Archived Spots</h3>
			</div>

			<div id="spot-list">
				<ul>
				</ul>
			</div>

	</div>

	<div class="collections">
		<h2> Collections</h2>
		<ul>
			<li class="button">
				Create New Collection
			</li>
			<li class="button">
				My Collections
			</li>
			<li class="button">
				Public Collections
			</li>
		</ul>
	</div>

	<div class="spot-creation-panel">
		<h2> Spot Creator</h2>
		<button class="exit-button">exit</button>

		<form class="spot-creation-form">
		  	<h3>Title</h3>
		  <input type="string" name="title">
		  </input>
		  <h3>Description</h3>
		  <input class="new-description" name="descripton">
		  </input>
		  <input class="submit-button" type="submit" value="submit">
			</input>
		</form>
		<p>
			x: <span class="x-coord"></span> y: <span class="y-coord"></span>
		</p>
	</div>

	<div id="map-canvas">
	</div>

	<div class="address-panel">
		<form id="address-input-form">
			<input id="address-input" style="color: black;" name="address"></input>
			<input type="submit" value="address"></input>
		</form>
	</div>

</div>
