<div class="container">
	<div class="spots">
		<h2> Spots </h2>
		<!-- <h3>Current Collection name</h3> -->
			<div id="create-new-spot-button" class="button">
				<h3>Create New Spot</h3>
			</div>

			<div class="button">
				<h3>List Archived Spots</h3>
			</div>

			<div id="spot-list">
				<ul>
				</ul>
			</div>

	</div>

	<div class="collections">
		<h2> Collections</h2>
		<ul>
			<li class="button">
				Create New Collection
			</li>
			<li class="button">
				My Collections
			</li>
			<li class="button">
				Public Collections
			</li>
		</ul>
	</div>

	<div class="spot-creation-panel">
		<h2> Spot Creator</h2>
		<button class="spot-creation-exit-button exit-button">exit</button>

		<form class="spot-creation-form">
		  	<h3>Title</h3>
		  <input type="string" name="title">
		  </input>
		  <h3>Description</h3>
		  <input class="new-description" name="descripton">
		  </input>
		  <input class="submit-button" type="submit" value="submit">
			</input>
		</form>
		<p>
			x: <span class="x-coord"></span> y: <span class="y-coord"></span>
		</p>
	</div>

	<div id="map-canvas">
	</div>

	<div class="address-panel">
		<form id="address-input-form">
			<input id="address-input" style="color: black;" name="address"></input>
			<input type="submit" value="address"></input>
		</form>
	</div>
	<div id="spot-display-panel" class="spot-display-panel">
		<h2 id="spot-title">Machu Pichu</h2>
		<button class="spot-display-exit-button exit-button">exit</button>
		<p id="spot-description">Machu Picchu (in hispanicized spelling, Spanish pronunciation: [ˈmatʃu ˈpiktʃu]) or Machu Pikchu (Quechua machu old, old person, pikchu peak; mountain or prominence with a broad base which ends in sharp peaks,[1] "old peak", pronunciation [ˈmɑtʃu ˈpixtʃu]) is a 15th-century Inca site located 2,430 metres (7,970 ft) above sea level.[2][3] It is located in the Cusco Region, Urubamba Province, Machupicchu District in Peru.[4] It is situated on a mountain ridge above the Sacred Valley which is 80 kilometres (50 mi) northwest of Cusco and through which the Urubamba River flows. Most archaeologists believe that Machu Picchu was built as an estate for the Inca emperor Pachacuti (1438–1472). Often mistakenly referred to as the "Lost City of the Incas", it is perhaps the most familiar icon of Inca civilization.</p>
		<h3 id="address"> 666 nowhere st., blahblah, CA 12345</h3>
		<h3 id="latlong">lat | long</h3>

	</div>

</div>
