<!DOCTYPE html>
<html>
<head>
	<title> maps generator </title>
		<link rel="stylesheet" type="text/css" href="../../reset.css">
		<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../public/css/map_view.css">
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&">
    </script>
	<script src="../../public/js/jquery-1.11.1.min.js"></script>
	<script src="../../public/js/shmap1.js"></script>
	<script src="../../public/js/madStylez.js"></script>


</head>

<body >
	<div class="container">
		<div class="spots">
			<h2> Spots</h2>
		</div>
		<div class="collections">
				<h2> Collections</h2>
		</div>


		<div id="map-canvas">
		</div>


	</div>



<script>



</script>


</body>

</html>
