<!DOCTYPE html>
<html>
<head>
	<title> maps generator </title>
		<link rel="stylesheet" type="text/css" href="../../reset.css">
		<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../public/css/tree_view.css">
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&">
    </script>
	<script src="../../public/js/jquery-1.11.1.min.js"></script>
	<script src="../../public/js/shmap1.js"></script>

</head>

<body>
	<div class="container">
		<header>
			<h1> maps maps maps</h1>

		</header>

		<div class="sideBar">
			<h1 class="info">asdfasdfasdf</h1>

			<!-- <img class="dinopic" src="http://xinglida.net/images/Menglongipus/deinonychus_pack.jpg"> -->

			<div class="pubs">
				<h2 > asdfasdfasdf</h2>
				<ul class="tags">
					<li>topic1</li>
					<li>topic2</li>
					<li>topic3</li>
				</ul>

				<ul>
					<li>blahblah 1</li>
					<li>blahblah 2</li>
					<li>blahblah 3</li>
				</ul>
			</div>
		</div>

		<div id="map-canvas">
		</div>


		<div class="nav">

			<h2>navigation</h>
			<ul>
				<li>place1</li>
				<li>place2</li>
				<li>place3</li>
			</ul>

			<h2>display options</h2>
			<ul>
				<li>option1</li>
				<li>option2</li>
				<li>option3</li>
			</ul>

			<div class="pubs">
				<h2 > content </h2>
				<ul class="tags">
					<li>articsdfles</li>
					<li>sdf</li>
					<li>other</li>
				</ul>

				<ul >
					<li>a thing 1</li>
					<li>a thing 2</li>
					<li>thing 3</li>
				</ul>
			</div>
			<div class="tabs">
				<ul>
					<a href=""><li>something!</li></a>
					<a href=""><li>another other thing?</li></a>
				</ul>
			</div>
		</div>

		<footer>
		</footer>
	</div>



<script>


	// node.on("click", function(d){

	// 	// littleTree = littleTree
	// 	makePackingViz( d);

	// })

	//makePackingViz( littleTree );


</script>


</body>

</html>
