

</head>

<body >
	<div class="container">
		<div class="spots">
			<h2> Spots</h2>
				<ul>
					<li class="button">
						Create New Spot
					</li>
					<li class="button">
						List Archived Spots
					</li>
					<li class="button">
						Share a Spot
					</li>

				</ul>
		</div>
		<div class="collections">
				<h2> Collections</h2>
				<ul>
					<li class="button">
						Create New Collection
					</li>
					<li class="button">
						List Archived Collections
					</li>
					<li class="button">
						Share a Collection
					</li>

				</ul>
		</div>


		<div id="map-canvas">
		</div>


	</div>



<script>



</script>


</body>

</html>
