<!DOCTYPE html>
<html>
<head>
	<title> little tree generator </title>
		<link rel="stylesheet" type="text/css" href="../../reset.css">
		<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="tree_view.css">
	<script src="../d3.v3.js" charset="utf-8"></script>

	<script src="../treeData.js"></script>
	<script src="../tree.js"></script>
	<script src="../packing.js"></script>

</head>

<body>
	<div class="container">	
		<header>
			<h1> Phylogenetic View Mockup</h1>
			<h4> click to zoom in/out </h4>
			
		</header>
		
		<div class="sideBar">
			<h1 class="info">Amniotes</h1>
			
			<img class="dinopic" src="http://xinglida.net/images/Menglongipus/deinonychus_pack.jpg">

			<div class="pubs">
				<h2 > bibliographic resources</h2>
				<ul class="tags">
					<li>topic1</li>
					<li>topic2</li>
					<li>topic3</li>
				</ul>

				<ul>
					<li>publication 1</li>
					<li>publication 2</li>
					<li>publication 3</li>
				</ul>
			</div>
		</div>

		<div class="wrapper">
		</div>
		

		<div class="nav">

			<h2>navigation</h>
			<ul>
				<li>place1</li>
				<li>place2</li>
				<li>place3</li>
			</ul>
			
			<h2>display options</h2>
			<ul>
				<li>option1</li>
				<li>option2</li>
				<li>option3</li>
			</ul>
			
			<div class="pubs">
				<h2 > content </h2>
				<ul class="tags">
					<li>articles</li>
					<li>video</li>
					<li>other</li>
				</ul>

				<ul >
					<li>publication 1</li>
					<li>publication 2</li>
					<li>publication 3</li>
				</ul>
			</div>
			<div class="tabs">
				<ul>
					<a href="tree_view.html"><li>phylogenetic view</li></a>
					<a href="article_view.html"><li>article view</li></a>
				</ul>
			</div>
		</div>

		<footer>
		</footer>
	</div>
<!-- 
	<script src="littleTree.js"></script>
 -->


<script>

// var littleTree = littleTree (treeData, 9);

// makePackingViz(littleTree);

makePackingViz(treeData);

</script>

<script>


	// node.on("click", function(d){

	// 	// littleTree = littleTree
	// 	makePackingViz( d);
		
	// })
	
	//makePackingViz( littleTree );


</script>


</body>

</html>